html {
    height:100%;
    background-color: whitesmoke;

}

body{
    height: 100%;
}

section{
    padding: 0px 15px 0px 15px;


}

header{
    height: 50px;
}
footer{
    position: center;
    bottom: 0;
    width: 100%;
    height: 42px;
    text-align: center
}

.top_to_bottom{
    /*view height - header height - footer height*/
    height: calc(100vh - 92px);
}

#nav_sidebar {
      width: 250px;
}

#sidebar {
  z-index: 100;
  height: 100%;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

.title{
    font-family: 'Russo One', sans-serif;
}