.sprint_table {
    display: grid;
    grid-gap: 0.2rem;
    background-color: #EDE1FF;
    /*background-color: #CFD8DC;*/
    padding: 3px;
    border-radius: 10px;
}

.sprint_line {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #333;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border: #D2C8EE 1px solid;
    background: #F5F1FF;
    margin: 0;
    padding: 0;
}

.sprint_line:hover {
    background-color: #EDE1FF;
    color: #270485;
    text-decoration: none;
}

.sprint_line:first-child {
    font-family: 'Audiowide', cursive;
    background-color: #EDE1FF;
    color: #270485;
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 0;
}


.sprint_line:last-child {
    border-radius: 0 0 10px 10px;
}

.sprint_line .line_item {
    border-right: #D2C8EE solid 1px;
    padding: 1rem 0;
    margin: 0;
}

.sprint_line .line_item:last-child {
    border-right: none;
}


