{% extends 'base.html' %}

{% block title %}|Delete project{% endblock %}

{% block sidebar %}
    {% include "project/sidebar.html" %}
{% endblock %}
{% block body_title %}
    Delete project
{% endblock %}

{% block body_content %}
    <div class="alert alert-danger" role="alert">{{ warning_message }}</div>
    <form action="{% url 'project:delete' project.pk %}" method="POST"  class="text-center">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>
{% endblock %}