{% extends 'base.html' %}

{% block content_title %}
    Project page
{% endblock %}

{% block content_body %}
    <a href="{% url 'project:create' %}" >
        <button class="btn btn-primary">Create new project</button>
    </a>
    <hr>
    {% if projects_admin %}
        <h3>List of projects that you are administrator to:</h3>
        <ul class="list-group">
            {% for project in projects_admin %}
                <a href="{% url "project:project" project.id%}" class="list-group-item list-group-item-action">{{ project.name }}</a>
            {% endfor %}
        </ul>
    {% endif %}

    {% if projects_contributor %}
        <h3>List of projects that you contribute to:</h3>
        <ul class="list-group">
            {% for project in projects_contributor %}
                <li class="list-group-item">{{ project.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}