{% extends 'project/base_with_sidebar.html' %}

{% block content_title %}
    Project page
{% endblock %}

{% block content_body %}
    <a href="{% url 'project:create' %}" >
        <button class="btn btn-primary">Create new project</button>
    </a>
    <hr>

    {# Prints out list of projects user is administrator to. #}
    {% if administrator_to_projects %}
        <h3>You are administrator to:</h3>
        <ul class="list-group">
            {% for project in administrator_to_projects %}
                <a href="{% url "project:project" project.id %}" class="list-group-item list-group-item-action">{{ project }}</a>
            {% endfor %}
        </ul>
    {% endif %}


    {# Prints out list of projects user is participating, but is not administrator to. #}
    {% if participations_to_projects %}
        <h3>You are contributor to:</h3>
        <ul class="list-group">
            {% for participation in participations_to_projects %}
                {# project.project.id - project instance has a foreing key field named project.#}
                <a href="{% url "project:project" participation.project.id %}" class="list-group-item list-group-item-action">{{ participation.project.name }}</a>
            {% endfor %}
        </ul>
    {% endif %}


    {# Prints out list of projects that user is invited to. #}
    {% if invitations_to_projects %}
        <h3>You are invited to:</h3>
        {% for invitation in invitations_to_projects %}
            {% if invitation.status != "Declined"  %}
                <li class="list-group-item">
                    <form role="form"  action="{% url 'project:invitation' invitation.id 'accept' %}" method="POST" class="row">
                        {% csrf_token %}
                        <div class="col">{{ invitation.project.name }}</div>
                        <div class="col-auto">
                            <button class="btn btn-outline-secondary btn-sm" type="submit" formaction="{% url 'project:invitation' invitation.id 'decline' %}">Decline</button>
                            <button class="btn btn-outline-success btn-sm" type="submit">Accept</button>
                        </div>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}