{% extends 'base.html' %}

{% block content_title %}
    Project page
{% endblock %}

{% block content_body %}
    <a href="{% url 'project:create' %}" >
        <button class="btn btn-primary">Create new project</button>
    </a>
    <hr>

    {% if admin_to %}
        {# Prints out list of projects user is administrator to. #}
        <h3>You are administrator to:</h3>
        <ul class="list-group">
            {% for project in admin_to %}
                <a href="{% url "project:project" project.id %}" class="list-group-item list-group-item-action">{{ project }}</a>
            {% endfor %}
        </ul>
    {% endif %}

    {% if participant_to %}
        {# Prints out list of projects user is participating, but is not administrator to. #}
        <h3>You are contributor to:</h3>
        <ul class="list-group">
            {% for project in participant_to %}
                {# project.project.id - project instance has a foreing key field named project.#}
                <a href="{% url "project:project" project.project.id %}" class="list-group-item list-group-item-action">{{ project }}</a>
            {% endfor %}
        </ul>
    {% endif %}

    {% if invited_to %}
        {# Prints out list of projects that user is invited to. #}
        <h3>You are invited to:</h3>
        {% for project in invited_to %}
            <li class="list-group-item">{{ project }}</li>
        {% endfor %}
    {% endif %}

{% endblock %}