{% extends 'project/base_with_sidebar.html' %}


{% block content_title %}
    {{ project.name }}
{% endblock %}


{% block content_body %}

    {{ email }}
    {# Search filed is always shown. #}
    {% if request.method == "GET" %}
        <h3>Search users:</h3>
        <form class="form-inline my-2 my-lg-0" action="{% url 'project:search_participants' project.id %}" method="GET">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="email" aria-label="Search" name="email_to_check">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    {% endif %}

    {# Shows alert message. Should be shown only when invite was unsuccessful #}
    {% if invite_result == "Error" %}
            <div class="alert alert-danger">{{ invite_message }}</div>
        {% elif invite_result == "Success" %}
            <div class="alert alert-success">{{ invite_message }}</div>
    {% endif %}

    {# if 'POST' request had 'contributor_found' #}

    {% if contributor_found and not invite_message %}
        <form action="{% url 'project:send_invite' project.id contributor_found.id %}" method="POST">
            {% csrf_token %}
            <ul class="list-group-flush">
                <li class="list-group-item"><h3>We found:</h3></li>
                <li class="list-group-item">
                    Username: {{ contributor_found.username }}<br>
                    Email: {{ contributor_found.email }}
                </li>
            </ul>
            <div class="text-center">
                <button class="btn btn-secondary" formaction="{% url 'project:search_participants' project.id %}" formmethod="GET">Search again</button>
                <button class="btn btn-primary">Send invite</button>
            </div>
        </form>
    {% endif %}

    {# Is shown when email was searched but it was not found in database. #}
    {% if contributor_not_found %}
        <div class="alert alert-danger" role="alert">{{ contributor_not_found }}</div>
    {% endif %}
    <form class="text-center" action="{% url 'project:project' project.id %}" method="GET">
        <button class="btn btn-secondary" >Back to project.</button>
    </form>

{% endblock %}