{% include "snippets/sidebar/account.html" %}
{% include "snippets/sidebar/projects.html" %}
{% include "snippets/sidebar/project.html" %}
{% include "snippets/sidebar/sprints.html" %}
{% include "snippets/sidebar/tasks.html" %}
{% include "snippets/sidebar/participants.html" %}
{% if project.administrator == user %}
    {% include "snippets/sidebar/participant_invite.html" %}
    {% include "snippets/sidebar/project_change.html" %}
    {% include "snippets/sidebar/project_delete.html" %}
{% endif %}

