{% extends 'base.html' %}
{% load static %}

{% block title %}|Sprint{% endblock %}

{% block sidebar %}{% include "sprints/sidebar.html" %}{% endblock %}
{% block body_title %}Sprints{% endblock %}
{% block body_content %}

    {% if sprints %}
        <ul class="table_wrapper">
            <div class="table_line">
                <p class="line_item">Sprint #</p>
                <p class="line_item">Start date</p>
                <p class="line_item">End date</p>
                <p class="line_item">Story points</p>
            </div>
            {% for sprint in sprints %}
                <a class="table_line" href="{% url 'sprints:sprint' project.pk sprint.pk %}">
                    <p class="line_item">{{ sprint.name }}</p>
                    <p class="line_item">{{ sprint.date_from }}</p>
                    <p class="line_item">{{ sprint.date_to }}</p>
                    <p class="line_item">{{ sprint.planned_story_points }}</p>
                </a>
            {% endfor %}
        </ul>
    {% else %}
        Project '{{ project.name }}' doesn't have any sprints.
    {% endif %}

{% endblock %}