{% extends 'base.html' %}

{% block content %}
    <div class="container display-4 text-center my-auto">
        Sign Up
    </div>


        <form method="POST" class="container text-center">
            {% csrf_token %}
            {% if error_message %}
                <div class="alert alert-warning" role="alert">{{ error_message }}</div>
            {% endif %}

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" style="width: 40px">#</span>
                </div>
                <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" style="width: 40px">*</span>
                </div>
                <input type="password" name="password1" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" style="width: 40px">*</span>
                </div>
                <input type="password" name="password2" class="form-control" placeholder="Repeat password" aria-label="Password" aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1" style="width: 40px">@</span>
                </div>
                <input type="email" name="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
            </div>
            <br>
            <button type="submit" class="btn btn-outline-success" type="button">Create</button>
        </form>

{% endblock %}
