{% extends 'base.html' %}

{% block title %}|Account{% endblock %}
{% block sidebar %}{% include "users/sidebar.html" %}{% endblock %}
{% block body_title %}My Account{% endblock %}

{% block body_content %}
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Username</th>
                <td>{{ request.user.username }}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{ request.user.email }}</td>
            </tr>
            <tr>
                <th scope="row">Date joined</th>
                <td>{{ date_registered }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}