{% extends 'base.html' %}
{% block title %}|Project{% endblock %}

{% block content %}
   <!-- SIDEBAR -->
    <nav id="nav_sidebar">
        <div class="sidebar-sticky" id="sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'projects:create' %}">
                        <svg class="bi bi-plus-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8.5 4a.5.5 0 00-1 0v3.5H4a.5.5 0 000 1h3.5V12a.5.5 0 001 0V8.5H12a.5.5 0 000-1H8.5V4z" clip-rule="evenodd"/>
                        </svg>
                        Create
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Section -->
    <div class="col" >
        <div class="display-4 text-center">{% block content_title %}
        {% endblock %}
        </div>
        <hr class="my-4">
        {% block content_body %}
        {% endblock %}
    </div>
{% endblock %}