{% extends 'base.html' %}

{% block title %}|Projects{% endblock %}

{% block sidebar %}
    {% include 'projects/sidebar.html' %}
{% endblock %}

{% block body_title %}
    Projects
{% endblock %}

{% block body_content %}

    {# Prints out list of projects user is administrator to. #}
    {% if administrator_to_projects %}
        <ul class="table_wrapper">
            <li class="table_line">
                <h3 class="line_item">You are administrator to</h3>
            </li>
            {% for project in administrator_to_projects %}
                <li class="table_line">
                    <a href="{% url "project:project" project.id %}" class="line_item">{{ project }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {# Prints out list of projects user is participating, but is not administrator to. #}
    {% if participant_to_projects %}
        <ul class="table_wrapper">
            <li class="table_line">
                <h3 class="line_item">You are contributor to</h3>
            </li>
            {% for participation in participant_to_projects %}
                <li class="table_line">
                    <a href="{% url "project:project" participation.project.id %}" class="line_item">{{ participation.project.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {# Prints out list of projects that user is invited to. #}
    {% if invited_to_projects %}
        <ul class="table_wrapper">
            <li class="table_line">
                <h3 class="line_item">You are invited to</h3>
            </li>
            {% for invitation in invited_to_projects %}
                {% if invitation.status != "Declined"  %}
                    <form role="form"  action="{% url 'project:invitation' invitation.id 'accept' %}" method="POST">
                        {% csrf_token %}
                        <li class="table_line columns-2">
                            <div class="line_item">{{ invitation.project.name }}</div>
                            <div class="line_item">
                                <button class="btn btn-outline-secondary btn-sm" type="submit" formaction="{% url 'project:invitation' invitation.id 'decline' %}">Decline</button>
                                <button class="btn btn-outline-success btn-sm" type="submit">Accept</button>
                            </div>
                        </li>
                    </form>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}